@import "dialogue/namebox";
@import "dialogue/dialoguebox";
@import "mission/missionbox";
@import "mission/missionname";

.dialogue-window {
    width: 100%;
    height: 100vh;
.maincharacter {
    height: 500px;
    bottom: 7%;
    right: 13%;
    position: absolute;
    filter:drop-shadow(8px 8px 10px black);
  }
.sidecharacter {
    height: 500px;
    position: absolute;
    bottom: 7%;
    left: 13%;
    filter:drop-shadow(8px 8px 10px black);
    }
}

.mission-window {
    width: 100%;
    height: 100vh;
.maincharacter {
    height: 500px;
    bottom: 7%;
    left: 7%;
    position: absolute;
  }
}

.transition-window {
    width: 100%;
    height: 100vh;
}

.next-button {
    
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: $offwhite;
    padding: 15px;
    text-align: center;
    display: inline-block;
    font-size: 4vw;
    font-family: "camelone";
    bottom: 17%;
    position: absolute;
    right: 12%;
    border-radius: 10px;
}

.buttonImage {
    display: inline-block;
    bottom: 17%;
    position: absolute;
    right: 10%;
    width: 20vw;
}