

.DialogueBox {
    width: 80%;
    height: 125px;
    border-radius: 10px;
    background-color: $window-color;
    position: absolute;
    bottom: 10%;
    left: 10%;
    z-index: 5;
    opacity: 1;
    transition: opacity 300ms ease-in; //fade-in
  p {
    padding: 0 20px;
    font-size: 2vw;
    color: $offwhite;
  }
}

.fade {
  transition: opacity 300ms ease-out;  //fade-out
  opacity: 0.1;
}
  
