

.DialogueBox {
    width: 80%;
    height: 125px;
    border-radius: 10px;
    background-color: $window-color;
    position: absolute;
    bottom: 10%;
    left: 10%;
    z-index: 5;
  p {
    padding: 0 20px;
    font-size: 2vw;
    color: $offwhite;
  }
}
  
