.DialogueBox {
    width: 80%;
    height: 125px;
    position: absolute;
    bottom: 10%;
    left: 10%;
    z-index: 5;
    opacity: 1;
    transition: opacity 300ms ease-in; //fade-in
  p {
    position: absolute;
    top: 12%;
    left: -1%;
    padding: 0 40px;
    font-size: 2vw;
    color: $offwhite;
    z-index: 10;
  }
}

.fade {
  transition: opacity 300ms ease-out;  //fade-out
  opacity: 0.1;
}
  
.textboxImage {
  position: absolute;
  width: 100%;
  margin-left: -20px;
}
