.NameBox {
    bottom: 25%;
    right: 15%;
    position: absolute;
    background-color: $offwhite;
    width: auto;
    padding: 0px 20px;
    height: 50px;
    border-radius: 10px;
    z-index: 8;
    opacity: 1;
    transition: opacity 300ms ease-in; //fade-in
  p {
    margin: 0;
    padding: 0px 0;
    text-align: center;
    font-size: 4vw;
    font-family: $heading-font-family;
    color: $heading-font-color;
  }
}