.Tutorial {
    z-index: 10;
    width: 80vw;
    background-color: $window-color;
    height: 75vh;
    margin: 0 auto;
    color: $offwhite;
    position: fixed;
    margin-left: 10vw;
    margin-top: 10vh;
    border-radius: 10px;
 p {
    padding: 10px;
 }
}

.tutorial-name {
    z-index: 10;
    background-color: $offwhite;
    height: 8vh;
    border-radius: 10px;
    width: 50vw;
    padding: 0px 20px;
    margin: 0 auto;
    margin-top: -5vh;
 p {
    margin: 0;
    padding: 0px 0;
    text-align: center;
    font-size: 6vh;
    font-family: $heading-font-family;
    color: $heading-font-color;
 }
}