body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
}

.root {
    height: 100vh; 
}


.background {
    width: 100%;
    height: 100%;
}

.blur {
    height: 100vh;
    width: 100%;
    position: absolute;
    background-color: white;
    opacity: 0.5;
    z-index: 9;
    margin: 0; height: 100%; overflow: hidden
}
