.MissionName {
    top: 5%;
    left: 40%;
    position: absolute;
    width: auto;
    padding: 0px 10px;
    height: 50px;
    z-index: 8;
    transition: opacity 300ms ease-in;
  p {
    position: absolute;
    top: 5%;
    left: -50%;
    width: 30vw;
    margin: 0;
    padding: 0px 0;
    text-align: center;
    font-size: 4vw;
    font-family: "camelone";
    color: $offwhite;
    z-index: 10;
  }
}

.missionnameImage {
  position: absolute;
  z-index: 5;
  width: 25vw;
}