.MissionBox {
    width: 60%;
    height: 80%;
    position: absolute;
    bottom: 10%;
    right: 7%;
    transition: opacity 300ms ease-in;
   p {
    position: absolute;
    top: 5%;
    padding: 0 30px;
    font-size: 2vw;
    text-align: center;
    color: $offwhite;
    z-index: 10;
  }
  a {
    position: absolute;
    top: 50%;
    left: 20%;
    padding: 0 30px;
    font-size: 2vw;
    text-align: center;
    color: $offwhite;
    z-index: 10;
  }
}


.missionboxImage {
  position: absolute;
  width: 60vw;
}
