.MissionBox {
    width: 60%;
    height: 80%;
    border-radius: 10px;
    background-color: $window-color;
    position: absolute;
    bottom: 10%;
    right: 7%;
   p {
    padding: 0 20px;
    font-size: 2.5vw;
    text-align: center;
    color: $offwhite;
  }
}
