
.speech-box {
    bottom: 26%;
    right: 20%;
    position: absolute;
    background-color: rgba(206, 215, 255, 0.8);
    width: 200px;
    height: 50px;
    border: 3px solid black;
    
  }
  
  .speech-box p {
    margin: 0;
    padding: 0px 0;
    text-align: center;
    font-size: 25px;
  }
  
  .speech-sprite {
    height: 500px;
    bottom: 7%;
    right: 13%;
    position: absolute;
  }
  

.dialogue-box {
    width: 80%;
    height: 125px;
    border: 3px solid black;
    background-color: rgba(255, 255, 255, .8);
    position: absolute;
    bottom: 10%;
    left: 10%;
  }
  
  .dialogue-box p {
    padding: 0 20px;
    font-size: 20px;
  }
  
  .dialogue-window {
    width: 100%;
    height: 768px;
  }
  
  .dialogue-window .sprite {
    height: 500px;
    bottom: 7%;
    right: 13%;
    position: absolute;
  }