.InputCode {
    background-color: rgba(2, 3, 42, 1); 
    width: 100%;
    height: 100vh;
}
  
.InputCode form{
    position: relative;
    top: 25vh !important;
    padding: 20px;
    margin: 0 auto;
    width: 70%;
    height: auto;
    top: 15%;
    background-color: rgba(85, 96, 111, 1);
    border-radius: 10px;
}

.inputcode-header {
    background-color: rgba(236, 238, 241, 1);
    border-radius: 10px;
    width: fit-content;
    margin: 0 auto;
    margin-top: -75px;
}

.inputcode-header h2 {
    font-size: 5vw;
    text-align: center;
    color: rgba(85, 96, 111, 1);
    padding: 10px;
}
  
.InputCode input {
    text-align: center;
    background-color: rgba(236, 238, 241, 1);
}
  
.InputCode input[type=text] {
    color: rgba(85, 96, 111, 1);
    font-size: 5vw;
    background-color: rgba(236, 238, 241, 1);
    border-radius: 10px;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
  
.LandingButtons {
    position: relative;
    top: 6vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
  
.LandingButtons button {
    
    width: 25vw;
    padding: 5px;
    margin: 0 auto;
    color: rgba(85, 96, 111, 1);
    font-size: 5vw;
    border-radius: 10px;
    background-color: rgba(236, 238, 241, 1);
    
}
  