.LandingPage {
    background-image: url('../images/backgrounds/space.png');
    background-size: cover;
    width: 100%;
    height: 768px;
}
  
.LandingPage form{
    position: absolute;
    margin: 0 auto;
    width: 500px;
    height: 300px;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -150px;
    background-color: rgba(46, 46, 133, 0.9);
    padding: 20px;
    border-style: groove;
    border-width: thick;
    border-color: white;
    border-radius: 0px;
}
  
.LandingPage h2 {
    color: white;
    text-align: center;
}
  
.LandingPage input {
    text-align: center;
    color: white;
}
  
.LandingPage input[type=text] {
    font-size: 25px;
}
  
.LandingButtons {
    margin: auto;
    width: 75%;
}
  
.LandingButtons button {
    margin: 5px;
    color: white;
    font-size: 22px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
}
  