.LandingPage {
    background-image: url('../images/backgrounds/space.png');
    background-size: cover;
    width: 100%;
    height: 768px;
}
  
.LandingPage form{
    position: relative;
    padding: 20px;
    margin: 0 auto;
    width: 70%;
    height: auto;
    top: 15%;
    background-color: rgba(46, 46, 133, 0.9);
    border-style: groove;
    border-width: thick;
    border-color: white;
    border-radius: 0px;
}
  
.LandingPage h2 {
    color: white;
    text-align: center;
}
  
.LandingPage input {
    text-align: center;
    color: white;
}
  
.LandingPage input[type=text] {
    font-size: 25px;
}
  
.LandingButtons {
    margin: 0 auto;
    width: 55%;
}
  
.LandingButtons button {
    position: relative;
    padding: 20px;
    margin: 5px auto;
    color: white;
    font-size: 22px;
    background-color: rgba(0, 0, 0, 0.3);
}
  