
.missioncontrol {
    width: 100%;
    height: 568px;
}

.missionWindow p {
    padding: 10px;
}

.missioncontrol-nav {
    position: relative;
    height: 12%;
    width: 100%;
    background-color: grey;
}
