.settings-icon {
    position: absolute;
    opacity: 0.7;
    height: 70px;
    margin: 40px;
  }
  
  .settings-box {
    position: absolute;
    margin: 0 auto;
    top: 20%;
    left: 15%;
    width: 70%;
    height: 50%;
    background-color: rgba(206, 215, 255, 0.8);
    border: 3px solid black;
    z-index: 10;
  }
  
  .settings-box button {
    color: white;
    background-color: rgba(23, 42, 128, 0.9);
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    bottom: 7%;
    position: absolute;
    right: 45%;
    border: 3px solid black;
  }
  
  .settings-box p {
    font-size: 28px;
    padding: 20px;
    text-align: center;
  }