body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 768px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.root {
  height: 768px !important; 
}

.div-landingPage {
  background-image: url('../images/backgrounds/spacewindow.png');
  width: 100%;
  height: 768px;
}

.landingPageForm {
  position: absolute;
  margin: 0 auto;
  width: 500px;
  height: 300px;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -150px;
  background-color: rgba(0, 0, 255, 0.3);
  padding: 20px;
  border-style: outset;
  border-width: thick;
  border-color: white;
  border-radius: 25px;

}

.landingPageForm h2 {
  color: white;
  text-align: center;
}

.landingPageForm input {
  text-align: center;
  color: white;
  
}

.landingPageForm input[type=text] {
  font-size: 25px;
}

.landingButtons {
  margin: auto;
  width: 75%;
}

.landingButtons button {
  margin: 5px;
  color: white;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
}

