body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 768px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.root {
  height: 768px !important; 
}

.background {
  width: 100%;
  height: 100%;
  /*background-size: auto; */
}

.next-button {
  color: white;
  background-color: rgba(23, 42, 128, 0.8);
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  bottom: 7%;
  position: absolute;
  right: 7%;
  border: 3px solid black;
}
