body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 768px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.root {
  height: 768px !important; 
}

.div-landingPage {
  background-image: url('../images/backgrounds/spacewindow.png');
  background-size: 100%;
  width: 100%;
  height: 768px;
}

.landingPageForm {
  position: absolute;
  margin: 0 auto;
  width: 500px;
  height: 300px;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -150px;
  background-color: rgba(0, 0, 255, 0.3);
  padding: 20px;
  border-style: outset;
  border-width: thick;
  border-color: white;
  border-radius: 25px;

}

.landingPageForm h2 {
  color: white;
  text-align: center;
}

.landingPageForm input {
  text-align: center;
  color: white;
  
}

.landingPageForm input[type=text] {
  font-size: 25px;
}

.landingButtons {
  margin: auto;
  width: 75%;
}

.landingButtons button {
  margin: 5px;
  color: white;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
}

.dialogue-window {
  width: 100%;
  height: 768px;
}

.background {
  width: 100%;
  height: 100%;
}

.dialogue-box {
  width: 80%;
  height: 125px;
  border: 3px solid black;
  background-color: rgba(255, 255, 255, .8);
  position: absolute;
  bottom: 10%;
  left: 10%;
}

.dialogue-box p {
  padding: 0 20px;
  font-size: 20px;
}

.next-button {
  color: white;
  background-color: rgba(23, 42, 128, 0.8);
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  bottom: 7%;
  position: absolute;
  right: 7%;
  border: 3px solid black;
}

.speech-box {
  bottom: 26%;
  right: 20%;
  position: absolute;
  background-color: rgba(206, 215, 255, 0.8);
  width: 200px;
  height: 50px;
  border: 3px solid black;
  
}

.speech-box p {
  margin: 0;
  padding: 0px 0;
  text-align: center;
  font-size: 25px;
}

.speech-sprite {
  height: 500px;
  bottom: 7%;
  right: 13%;
  position: absolute;
}
.settings-icon {
  position: absolute;
  opacity: 0.7;
  height: 70px;
  margin: 40px;
}

.settings-box {
  position: absolute;
  margin: 0 auto;
  top: 20%;
  left: 15%;
  width: 70%;
  height: 50%;
  background-color: rgba(206, 215, 255, 0.8);
  border: 3px solid black;
  z-index: 10;
}

.settings-box button {
  color: white;
  background-color: rgba(23, 42, 128, 0.9);
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  bottom: 7%;
  position: absolute;
  right: 45%;
  border: 3px solid black;
}

.settings-box p {
  font-size: 28px;
  padding: 20px;
  text-align: center;
}