.MissionNav {
    position: fixed;
    top: 0%;
    margin: 0 auto;
    width: 100%;
    height: 15vh;
    background-color: rgba(85, 96, 111, 1);
    z-index: 5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    min-width: 300px;
}

.filterbox {
    margin-right: auto;
    padding: 10px;
    font-size: 4vw;
    color: white;
}

.MissionNav img {
    opacity: 0.5;
    width: 10vh;
    margin: 0 5px;
}