
.missioncontrol {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 568px;
    background-color: rgba(2, 3, 42, 1);
}

.missionWindow {
    position: relative;
    padding: 10px;
    width: 100%;
    top: 22vh;
    text-align: center;
    color: white;
}

.mission-buttons {
    position: fixed;
    width: 40%;
    top: 16vh;
    background-color: rgba(85, 96, 111, 1);
    height: 7vh;
    left: 50%;
    margin-left: -20%;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.mission-buttons img {
    opacity: 0.5;
    width: 5vh;
    margin: 0 5px;
}

