.MissionNav {
    position: fixed;
    top: 0%;
    margin: 0 auto;
    width: 100%;
    height: 14%;
    background-color: grey;
    z-index: 100;
}


.ParentSettingsIcon {
    position: absolute;
    right: 0%;
    opacity: 0.5;
    width: 15%;
    margin: 5px 5px;

}

.MissionEncyclopediaIcon {
    position: absolute;
    right: 17%;
    opacity: 0.5;
    width: 15%;
    margin: 5px 5px;
}



.FAQIcon {
    position: absolute;
    right: 35%;
    opacity: 0.5;
    width: 15%;
    margin: 5px 5px;
}