.MissionNav {
    position: fixed;
    top: 0%;
    margin: 0 auto;
    width: 100%;
    height: 15vh;
    background-color: grey;
    z-index: 100;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}


.mission-icon {
    opacity: 0.5;
    width: 10vh;
    margin: 0 5px;
}