.ParentSettings {
    position: absolute;
    margin: 0 auto;
    top: 15vh;
    width: 100%;
    height: auto;
    padding: 5px;
    background-color: rgba(190, 190, 190, 1);
    border: 3px solid white;
    z-index: 10;
}

.ParentSettings p {
    font-size: 28px;
    padding: 20px;
    text-align: center;
    color: white;
}

.ParentSettings button {
    display: none;
    visibility: hidden;
}
