.speech-box {
    bottom: 25%;
    right: 15%;
    position: absolute;
    background-color: $offwhite;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    z-index: 8;
  }
  
  .speech-box p {
    margin: 0;
    padding: 0px 0;
    text-align: center;
    font-size: 4vw;
    font-family: "camelone";
    color: $heading-font-color;
  }
  
  .speech-sprite {
    height: 500px;
    bottom: 7%;
    right: 13%;
    position: absolute;
  }
  

.dialogue-box {
    width: 80%;
    height: 125px;
    border-radius: 10px;
    background-color: $window-color;
    position: absolute;
    bottom: 10%;
    left: 10%;
  }
  
  .dialogue-box p {
    padding: 0 20px;
    font-size: 20px;
    color: $offwhite;
  }
  
  .dialogue-window {
    width: 100%;
    height: 768px;
  }
  
  .dialogue-window .sprite {
    height: 500px;
    bottom: 7%;
    right: 13%;
    position: absolute;
  }