.faq-upperright .faq-icon {
    position: absolute;
    opacity: 0.7;
    height: 70px;
    margin: 40px;
    right: 0%;
}



.FAQ {
    position: absolute;
    margin: 0 auto;
    top: 20%;
    left: 15%;
    width: 70%;
    height: 50%;
    background-color: $window-color;
    border-radius: 10px;
    z-index: 10;
}
  
.FAQ button {
    color: $heading-font-color;
    background-color: $offwhite;
    padding: 15px;
    text-align: center;
    display: inline-block;
    font-size: 4vw;
    font-family: "camelone";
    bottom: 7%;
    position: absolute;
    left: 50%;
    border-radius: 10px;
    margin-left: -6vw;
  }
  
.FAQ p {
    font-size: 28px;
    padding: 20px;
    text-align: center;
    color: $offwhite;
}

