.Finish {
    background-color: $background-color;
    width: 100%;
    height: 100vh;
}

.finish-content {
    position: relative;
    top: 25vh !important;
    padding: 20px;
    margin: 0 auto;
    width: 70%;
    height: auto;
    top: 15%;
    background-color: $window-color;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: 6vw;
 button {
    width: 25vw;
    padding: 5px;
    margin: 0 auto;
    color: $heading-font-color;
    font-size: 5vw;
    border-radius: 10px;
    background-color: $offwhite;
    font-family: "camelone";
 }
}