.InputCode {
    background-color: $background-color;
    width: 100%;
    height: 100vh;
}

.InputCode form{
    position: relative;
    top: 25vh !important;
    padding: 20px;
    margin: 0 auto;
    width: 70%;
    height: auto;
    top: 15%;
    background-color: $window-color;
    border-radius: 10px;
}

.inputcode-header {
    background-color: $offwhite;
    border-radius: 10px;
    width: fit-content;
    margin: 0 auto;
    margin-top: -75px;
}

.inputcode-header h2 {
    font-size: 5vw;
    text-align: center;
    color: $heading-font-color;
    padding: 10px;
    font-family: $heading-font-family;
}
  
.InputCode input {
    text-align: center;
    background-color: $offwhite;
}
  
.InputCode input[type=text] {
    color: $heading-font-color;
    font-size: 5vw;
    background-color: $offwhite;
    border-radius: 10px;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
  
.LandingButtons {
    position: relative;
    top: 6vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
  
.LandingButtons button {
    
    width: 25vw;
    padding: 5px;
    margin: 0 auto;
    color: $heading-font-color;
    font-size: 5vw;
    border-radius: 10px;
    background-color: $offwhite;
    font-family: "camelone";
    
}
  