.Loading {
    background-color: $background-color;
    height: 100vh;
    overflow-y: auto;
    overflow: hidden;
    box-sizing: border-box;
}

.Loading p {
    font-family: $heading-font-family;
    font-size: 4vh;
    text-align: center;
    color: $offwhite;
}


.ring-loader {
    position: absolute;
    bottom: 20%;
    left: 50%;
    margin-left: -15vh;
}

.familyquest-logo {
    position: absolute;
    width: 40vh;
    left: 50%;
    margin-left: -20vh;
    bottom: 40%;
}