.MainMenu {
    background-color: $background-color;
    width: 100%;
    height: 100vh;
}

.menu-header {
    position: relative;
    top: 15vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
}

.menu-header h1 {
    color: $offwhite;
    font-size: 8vw;
    margin: 0 auto;
    font-family: $heading-font-family;
}

.menu-header h3 {
    color: $offwhite;
    font-size: 5vw;
    margin: 0 auto;
    font-family: $heading-font-family;
}

.select-buttons {
    position: relative;
    top: 25vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.select-buttons img {
    width: 45vh;
    margin: 0 auto;
    
}