.missionname {
    top: 5%;
    left: 40%;
    position: absolute;
    background-color: $offwhite;
    width: 200px;
    height: 50px;
    z-index: 10;
    border-radius: 10px;
  }
  
  .missionname p {
    margin: 0;
    padding: 0px 0;
    text-align: center;
    font-size: 4vw;
    font-family: "camelone";
    color: $heading-font-color;
  }

  .mission-box {
    width: 60%;
    height: 80%;
    border-radius: 10px;
    background-color: $window-color;
    position: absolute;
    bottom: 10%;
    right: 7%;
  }
  
  .mission-box p {
    padding: 0 20px;
    font-size: 20px;
    color: $offwhite;
  }

  .mission-window {
    width: 100%;
    height: 100vh;
  }
  
  .mission-window .sprite {
    height: 500px;
    bottom: 7%;
    left: 7%;
    position: absolute;
  }


.next-button {
  color: $heading-font-color;
  background-color: $offwhite;
  padding: 15px;
  text-align: center;
  display: inline-block;
  font-size: 4vw;
  font-family: "camelone";
  bottom: 7%;
  position: absolute;
  right: 10%;
  border-radius: 10px;
}

  