.settings-upperleft .settings-icon {
    position: absolute;
    opacity: 0.7;
    height: 70px;
    margin: 40px;
}

.settings-upperright .settings-icon {
    position: absolute;
    opacity: 0.7;
    height: 70px;
    margin: 40px;
    right: 0%;
}



.Settings {
    position: absolute;
    margin: 0 auto;
    top: 20%;
    left: 15%;
    width: 70%;
    height: 50%;
    
    border-radius: 10px;
    z-index: 10;
}
  
.Settings button {
    color: $offwhite;
    background-color: Transparent;
    background-repeat:no-repeat;
    outline:none;
    border: none;
    font-size: 5vw;
    border-radius: 10px;
    position: absolute;
    top: 1%;
    right: 2%;
  }
.settings-header {
    background-color: $window-color;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.settings-content {
    background-color: $window-color;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: -10px;
}

.Settings h2 {
    font-size: 5vw;
    text-align: center;
    color: $offwhite;
    margin-top: auto;
    padding: 10px;
    font-family: $heading-font-family;
}
  
.Settings p {
    font-size: 28px;
    padding: 20px;
    text-align: center;
    color: $offwhite;
}

.placeholder-settings {
    width: 65vw;
    display:block;
    margin:auto;
    padding: 20px;  
}

